#head:hover{
	color: white;
	text-shadow: black 10px 10px 100px;
}
#content{
}
.lycies{
	width:600px;
	height: 70%;
	font-size: 20px; 
	margin: 10px auto;
	overflow: auto;
	text-align: center;
}
.mp3{
	width: 600px;
	height: 30%;
	margin: 10px auto;
	/*background-color: black;*/
	text-align: center;
	line-height: 200px;
}